{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>Verona Interior Design</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'assets/fonts/fonts.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'assets/plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/plugins/animate/animate.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN: BASE PLUGINS  -->
    <link href="{% static 'assets/plugins/revo-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/revo-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/revo-slider/css/navigation.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/slider-for-bootstrap/css/slider.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END: BASE PLUGINS -->
    <!-- BEGIN: PAGE STYLES -->
    <link href="{% static 'assets/plugins/ilightbox/css/ilightbox.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END: PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{% static 'assets/demos/index/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/demos/index/css/components.css' %}" id="style_components" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'assets/demos/index/css/themes/default.css' %}" rel="stylesheet" id="style_theme"
          type="text/css"/>
    <link href="{% static 'assets/demos/index/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/styles/override-styles.css' %}" rel="stylesheet" type="text/css"/>

    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body>


<div class="c-content-line-icon c-theme c-icon-0">0</div>
<div class="c-content-line-icon c-theme c-icon-1">1</div>
<div class="c-content-line-icon c-theme c-icon-2">2</div>
<div class="c-content-line-icon c-theme c-icon-3">3</div>
<div class="c-content-line-icon c-theme c-icon-4">4</div>
<div class="c-content-line-icon c-theme c-icon-5">5</div>
<div class="c-content-line-icon c-theme c-icon-6">6</div>
<div class="c-content-line-icon c-theme c-icon-7">7</div>
<div class="c-content-line-icon c-theme c-icon-8">8</div>
<div class="c-content-line-icon c-theme c-icon-9">9</div>
<div class="c-content-line-icon c-theme c-icon-10">10</div>
<div class="c-content-line-icon c-theme c-icon-11">11</div>
<div class="c-content-line-icon c-theme c-icon-12">12</div>
<div class="c-content-line-icon c-theme c-icon-13">13</div>
<div class="c-content-line-icon c-theme c-icon-14">14</div>
<div class="c-content-line-icon c-theme c-icon-0">0</div>
<div class="c-content-line-icon c-theme c-icon-1">1</div>
<div class="c-content-line-icon c-theme c-icon-2">2</div>
<div class="c-content-line-icon c-theme c-icon-3">3</div>
<div class="c-content-line-icon c-theme c-icon-4">4</div>
<div class="c-content-line-icon c-theme c-icon-5">5</div>
<div class="c-content-line-icon c-theme c-icon-6">6</div>
<div class="c-content-line-icon c-theme c-icon-7">7</div>
<div class="c-content-line-icon c-theme c-icon-8">8</div>
<div class="c-content-line-icon c-theme c-icon-9">9</div>
<div class="c-content-line-icon c-theme c-icon-10">10</div>
<div class="c-content-line-icon c-theme c-icon-11">11</div>
<div class="c-content-line-icon c-theme c-icon-12">12</div>
<div class="c-content-line-icon c-theme c-icon-13">13</div>
<div class="c-content-line-icon c-theme c-icon-14">14</div>
<div class="c-content-line-icon c-theme c-icon-15">15</div>
<div class="c-content-line-icon c-theme c-icon-16">16</div>
<div class="c-content-line-icon c-theme c-icon-17">17</div>
<div class="c-content-line-icon c-theme c-icon-18">18</div>
<div class="c-content-line-icon c-theme c-icon-19">19</div>
<div class="c-content-line-icon c-theme c-icon-20">20</div>
<div class="c-content-line-icon c-theme c-icon-21">21</div>
<div class="c-content-line-icon c-theme c-icon-22">22</div>
<div class="c-content-line-icon c-theme c-icon-23">23</div>
<div class="c-content-line-icon c-theme c-icon-24">24</div>
<div class="c-content-line-icon c-theme c-icon-25">25</div>
<div class="c-content-line-icon c-theme c-icon-26">26</div>
<div class="c-content-line-icon c-theme c-icon-27">27</div>
<div class="c-content-line-icon c-theme c-icon-28">28</div>
<div class="c-content-line-icon c-theme c-icon-29">29</div>
<div class="c-content-line-icon c-theme c-icon-30">30</div>
<div class="c-content-line-icon c-theme c-icon-31">31</div>
<div class="c-content-line-icon c-theme c-icon-32">32</div>
<div class="c-content-line-icon c-theme c-icon-33">33</div>
<div class="c-content-line-icon c-theme c-icon-34">34</div>
<div class="c-content-line-icon c-theme c-icon-35">35</div>
<div class="c-content-line-icon c-theme c-icon-36">36</div>
<div class="c-content-line-icon c-theme c-icon-37">37</div>
<div class="c-content-line-icon c-theme c-icon-38">38</div>
<div class="c-content-line-icon c-theme c-icon-39">39</div>
<div class="c-content-line-icon c-theme c-icon-40">40</div>
<div class="c-content-line-icon c-theme c-icon-41">41</div>
<div class="c-content-line-icon c-theme c-icon-42">42</div>
<div class="c-content-line-icon c-theme c-icon-43">43</div>
<div class="c-content-line-icon c-theme c-icon-44">44</div>
<div class="c-content-line-icon c-theme c-icon-45">45</div>
<div class="c-content-line-icon c-theme c-icon-46">46</div>
<div class="c-content-line-icon c-theme c-icon-47">47</div>
<div class="c-content-line-icon c-theme c-icon-48">48</div>
<div class="c-content-line-icon c-theme c-icon-49">49</div>
<div class="c-content-line-icon c-theme c-icon-50">50</div>
</body>
</html>